*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
  background-color: #66ff66;
}
.card_bg{
  background-image: url("cdu.jpg");
  background-size: 500px 320px;
  background-repeat: no-repeat;
}
.card {
  height: 320px;
  width: 500px;
  margin: 10px;
  /*position: inherit;*/
  border-radius: 12px 12px 12px 12px;
  text-align: center;
  background-color: #33ccff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.75);
  transition: height 0.4s;
}
.card:hover{
  opacity: 1;
  height: 500px;
}
.card .title{
  width: 100%;
  color: black;
  padding: 10px auto;
  margin: 0;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 50px;
  position: relative;
  top: 30px;
  /*left: 0;*/
  opacity:0.7;
  background-color: rgba(230, 230, 230, 0.8);
}
.card .card_info {
  color: black;
  font-family: sans-serif;
  background-color: rgba(230, 230, 230, 0.8);
  width: 100%;
  height: 60px;
  position: relative;
  top: 210px;
  padding-top: 5px;
  font-size: 20px;
  opacity: 0;
  transition: opacity 1s;
}
.card:hover .card_info{
  opacity: 0.8;
}
.card_desc {
  /*border: 1px solid red;*/
  width: 100%;
  color: black;
  height: 150px;
  padding: 10px 20px;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 25px;
  position: relative;
  top: 60px;
  border-radius: 0 0 12px 12px;
  opacity: 0;
  transition: top 0.65s, opacity 0.65s cubic-bezier(0.3, 0.6, 0.6, 1);
}
.card:hover .card_desc{
  top: 225px;
  opacity: 0.8;
}
